<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/burger_style.css">
    <title>EAT-DA-BURGER</title>
</head>
<body>
    <main class="container-fluid">
        <header class="text-center"><h1 class="mb-2">Eat-Da-Burger!</h1></header>
        <img src="/assets/img/burger.svg" alt="Burger icon" class="logoImg mx-auto">
        {{{ body }}}
        <div class="row mt-4">
            <div class="col-4 offset-4 text-center">
                <form>
                    <div class="form-group">
                        <textarea class="form-control" id="burgerName" rows="3"></textarea>
                        <button class="btn btn-primary mt-2" id="saveNewBurger">Submit</button>
                        <label for="burgerName">Add a new burger here and click Submit to add it to your plate.</label>
                    </div>
                </form>
            </div>
        </div>
    </main>

	<script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        $(function() {
            $(".devour-me").on("click", function(event) {
                const burgerToUpdate = 
                {
                    id: $(this).data("id"),
                    devoured: true
                }
                $.ajax("/api/burger", {
                    type: "PUT",
                    data: burgerToUpdate
                }).then( function() {
                    console.log("Burger Murdered");
                    location.reload();
                })
            })

            $("#saveNewBurger").on("click", function(event) {
                const name = 
                {
                    name: $("#burgerName").val().trim()
                }
                $.ajax("/api/burger", {
                    type: "POST",
                    data: name
                }).then( function(response) {
                    console.log(response);
                })
            })
        });
        
    </script>
</body>
</html>